data/
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

node_modules
target
dist
logs
public
.cache
.vscode
.DS_Store
.idea
.next
yarn-error.log
npm-debug.log

*.md
!README.md
*.sh
!update.sh
*.env
!install.sh